//--------------------Contact--------------------
.contact-cont{
	height: 100%;
}

.contact-cta{
	height: 300px;
	width:100%;
	background-color: wheat;
}

//--------------------//Contact------------------