<%= stylesheet_link_tag 'footer' %>
<div class="footer">
	<div id="footer-link">
		<a href="/">HOME</a>
		<a href="/about.html">ABOUT US</a>
		<a href="/services.html">SERVICES</a>
		<a href="/works.html">WORKS</a>
		<a href="#">BLOG</a>
	</div>
	<div id="footer-address">
		<p>480 NE 30st. PH 2204, Miami, FL. 33137</p>
	</div>
	<%= image_tag "images/cmykband.png", :class => "footer-band" %>
</div>
