<%= stylesheet_link_tag 'responsive_logo' %>

<div class="wrapper-logo">
  <img src="/images/typo.png" id="img-1" data-state="stay" alt="typo">
  <img src="/images/logo.png" id="img-2" alt="logo">
</div>
