---
title: 	Contact - The Social Us
---

<%= stylesheet_link_tag 'contact' %>


<div class="contact-cont">
	
	<%= partial "vertical_menu" %>

	<%= image_tag "images/TSULogo.png", :class => "TSU-logo" %>

	<div class="contact-bg-text">
		<h1>OUR MINDS ARE <br>
		ALL OVER THE <br>
		PLACE, <b> BUT OUR	<br>
		HEADQUARTERS <br>
		ARE NOT </b> </h1>
	</div>

	<div class="contact-hq">
		<h1>Miami</h1>
		<p>United States</p>
		<h1>Barcelona</h1>
		<p>United Spain</p>
		<h1>Caracas</h1>
		<p>Venezuela</p>
		<h1>CDMX</h1>
		<p>Mexico</p>
	</div>	
	
	<div class="row expanded text-align-center">
		<div class="large-8 large-offset-2 columns end">
			<div class="contact-cta"></div>
		</div>
	</div>	

	<%= partial "social_media_button" %>
</div>